.mtb__media {
    background-color: var(--MTBBG);
    color: var(--MTBLight);
background-attachment: fixed;
background-size: cover;

}

.mtb__media__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.mtb__media__header {
    font-family: var(--PrimaryFont);
    color: var(--MTBColor2);
    font-size: 48px;
    text-transform: uppercase;
}