.homePage {
    background-color: rgb(237, 241, 245);
}

.home-shape1{
    background-color: orange;
    height: 50px;
    width: 50px;
    left: 10vw;
    top: 150px;
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}
.home-shape2{
    background-color: rgb(174, 0, 255);
    height: 100px;
    width: 100px;
    top: 200px;
    left: 25vw;
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}

.home-page-wrapper {
    width: 90%;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;

}

.home-page-wrapper-content {
    backdrop-filter: blur(5px);
    z-index:5;
    position: relative;
}

.homeLatestNews {
    width: 100%;
    overflow-x: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-landing-hero {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 25px;
}

.home-landing-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-landing-content h1 {
    font-size: 64px;
    font-family: var(--PrimaryFont);
    text-transform: uppercase;
    color: rgb(34, 34, 34);
    margin: 0;
}


.home-landing-content p {
    font-size: 18px;
    font-family: var(--PrimaryFont);
    color: rgb(77, 76, 76);
}

.home-landing-content h2 {
    font-size: 22px;
    font-family: var(--PrimaryFont);
    color: rgb(77, 76, 76);
}

.landing-content-button-wrapper{
    display: flex;
    width: 100%;
}

.salon-button {
    background-color: #db693c;
}

.mtb-button {
    background-color: rgb(23, 190, 60);
    margin-right: 15px;
}

.landing-content-button {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}

.fox {
    color: orange;
}

.home-landing-graphic {
    width: 500px;
    background-color: rgb(255, 255, 255);
    height: 500px;
    border-radius: 50%;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.164);
}

.homeHeroContent {
    position: relative;
    width: 100%;
    color: rgb(17, 17, 17);
    max-width: 1400px;  
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--PrimaryFont);
}


.homeHeroContent h1 {
    margin-right: auto;
    position: relative;
}

.homeHeroContent h1::after {
    content: "";
    width: 40%;
    background-color: rgb(255, 153, 0);
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.aboutUsHome {
    display: flex;
    justify-content: space-between;
}

.aboutUsHomeContent {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.164);
    padding: 15px;
    width: 60%;
}

.aboutUsHomeGraphic {
    width: 500px;
    height: 500px;
    background-color: #db693c;
    border-radius: 50%;
    border-bottom-left-radius: 10px;
}
.aboutUsHome h2{
    font-size: 32px;
    font-family: var(--PrimaryFont);
    text-transform: uppercase;
    margin-right: auto;
    position: relative;
    display: inline-block
}

.aboutUsHome h2::after {
    content: "";
    width: 40%;
    background-color: rgb(255, 153, 0);
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.aboutUsHome p{
    font-size: 18px;
    font-family: var(--PrimaryFont);
    margin-top: 1em;
}