.homePage {
    background-color:rgb(19, 18, 18);
    font-family: var(--PrimaryFont);
    color: white;
}


.home-page-wrapper {
    width: 90%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    height: 80vh;
    min-height: 800px;
    max-height: 1000px;

}

.mainLogoHome {
    width: 50%;
    max-width: 425px;
    height: 425px;
    background-color: rgb(24, 23, 23);
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    border-radius: 50%;
    right: 30%;
    top: 50%;
    transform: translate(50%, -50%);
    z-index: 3;
}

.mainLogoHome img {
    width: 100%;
    height: 100%;
}


.homepagehero {
    height: 100vh;
    min-height: 500px;
    max-height: 1000px;
    display: flex;
    position: relative;
}

.homebuttoncontainer {
    display: flex;
}

.homepagebutton {
    width: 130px;
    height: 50px;
    background-color: purple;
    display: inline-block;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 10px;
}

.homepagebuttonmtb {
    background-color: var(--MTBColor1);
    margin-right: 30px;
}

.homepagebuttonsalon {
    background-color: var(--SalonColor2);
    color: rgb(44, 36, 43);
}

.homepageheroleft {
    width: 70%;
    height: 100%;
    background-color: rgb(24, 23, 23);
    display: flex;
    align-items: center;
    position: relative;
}

.homepageheroleft img{
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
}
.homepageheroleftcontent {
    max-width: 60%;
    color: white;
    z-index: 2;
    margin-left: 10%;
}

.homepageheroleftcontent p {
    font-size: 22px;
    margin: 0;
    margin-bottom: 0.5em;
}

.homepageheroleftcontent h1 {
    font-size: 48px;
    margin: 0;
    margin-bottom: 0.2em;
}

.homepageheroleftcontent h1 .green {
    color: var(--MTBColor2);
    font-weight: 800;
    font-size: 54px;
}

.homepageheroleftcontent h1 .orange {
    color: var(--SalonColor2);
    font-weight: 800;
    font-size: 54px;
    border-bottom: 0.2em solid rgb(255, 217, 0);
}

.homepageheroright {
    width: 30%;
    height: 100%;
    background-color: var(--MTBColor3);
}

.homepageImageContainer {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
}

.homepageImage1 {
    width: 400px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    transform: rotate(-15deg);
    position: absolute;
}
.homepageImage2 {
    width: 420px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    transform: rotate(10deg);
    position: absolute;
    top: 30%;
    right: 0;
}
.homepageImage3 {
    width: 380px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    transform: rotate(-3deg);
    position: absolute;
    top: 60%;
    right: 20%;
}

.homepage__about__intro {
    z-index: 3;
    
    position: relative
}
.homepage__about__intro h1 {
    font-size: 62px;
    max-width: 650px;
    text-transform: uppercase;
    margin-top: 2em;
    color: var(--SalonColor2);
}

.homepage__about__intro p {
    font-size: 24px;
    width: 80%;
    max-width: 800px;
    margin-bottom: 30px;
    
}