.mtb__programs__page {

    background-color: var(--MTBBG);
    color: var(--MTBLight);
    background-attachment: fixed;
    background-size: cover;

}

.mtb__programs__page__wrapper {
  
    width: 90%;
    margin-left: auto; 
    margin-right: auto;
    max-width: 1200px;
    color: var(--MTBLight);
    font-family: var(--PrimaryFont);
    
}

.mtb__programs__intro h1 {
    font-size: 62px;
    max-width: 650px;
    text-transform: uppercase;
    margin-top: 2em;
    color: var(--MTBColor2);
}

.mtb__programs__intro p {
    font-size: 24px;
    width: 100%;
    margin-bottom: 30px;
}



@media screen and (max-width: 750px) {
    .mtb__programs__intro p {
        margin-left: 0;
        text-align: left;
        width: 100%;
    
    }
    .mtb__programs__intro h1 {
        font-size: 42px;

    }
}