@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;500;700;800&display=swap');

:root {
    --MTBDark: black;
    --SalonLight: #ffd7be; 
    --SalonColor1: #dab197;
    --SalonColor2: #f89254;
    --SalonColor3: #cd3341;
    --SalonBG: #361130; 
    --PrimaryFont: 'Plus Jakarta Sans', sans-serif;
    word-spacing: 0.2em;


    /* --MTBLight: #e2fadc;
    --MTBColor1: #566431;
    --MTBColor22: #79bc2f;
    --MTBColor32: #BEED76; */

    --MTBLight: #fbf8f8;
    --MTBColor1: #097b20;
    --MTBColor2: #47b86f;
    --MTBColor3: #8d65fc;
    --MTBBG: #070400; 
    --MTBBGTransparent: #070400dc; 
    
}

body {
    background-color: rgb(15, 15, 15);
}

.center-horizontally {
    display: flex;
    justify-content: center;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }


  .grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}